.education-section-title {
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
}

.img {
  position: absolute;
  width: auto;
  height: 200px;
  box-shadow: 5px 5px 5px 5px #d9dbdf;
}
.img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.codechef {
  left: 25px;
  transform: rotateZ(20deg);
}
.leetcode {
  right: 60px;
  transform: rotateZ(-20deg);
}
.hackerrank {
  right: 60px;
  bottom: 50px;
  transform: rotateZ(20deg);
}
.unstop {
  bottom: 50px;
  left: calc(50% + 200px);
  transform: rotateZ(20deg);
}
.coursera {
  left: calc(50% - 300px);
  bottom: 50px;
  transform: rotateZ(-20deg);
}
.gcp {
  left: 0px;
  bottom: 50px;
  transform: rotateZ(-20deg);
}

@media (max-width: 768px) {
  .education-section-title {
    left: calc(50% - 70px);
    top: calc(50% - 200px);
  }
  .education-section-title h1 {
    font-size: 30px;
  }
  .img {
    height: 100px;
  }
  .codechef {
    top: calc(50% - 50px);
    left: 40px;
  }
  .leetcode {
    top: calc(50% - 20px);
    right: 40px;
  }
  .hackerrank {
    right: 20px;
    bottom: 0px;
  }
  .gcp {
    left: 50px;
    bottom: 0px;
  }
  .unstop {
    bottom: 150px;
    left: calc(50%);
  }
  .coursera {
    bottom: 150px;
    left: calc(50% - 150px);
  }
}

.degree-card {
  margin: 50px 0px 50px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.degree-card-title {
  font-size: 20px;
  font-weight: 700;
}

.degree-card-subtitle {
  font-size: 18px;
  font-weight: 700;
  padding: 8px 0px 0px;
}

.degree-card-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #d9dbdf;
  box-shadow: 5px 5px 5px #d9dbdf;
}

.degree-header {
  max-width: inherit;
  display: flex;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
}

.degree-header-title {
  align-items: flex-start;
  width: 80%;
}

.degree-header-duration {
  width: 20%;
}
.duration {
  font-size: 16px;
  font-weight: 700;
  padding-right: 10px;
  float: right;
}

.degree-content {
  max-width: inherit;
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.degree-content-list {
  color: #868e96;
  font-size: 19px;
  padding-left: 10px;
  padding-right: 10px;
}

.education-card-degree {
  border-bottom: 1px solid #d9dbdf;
  border-left: 1px solid #d9dbdf;
  border-right: 1px solid #d9dbdf;
  border-radius: 7px;
  width: 90%;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px #d9dbdf !important;
}
@media (max-width: 768px) {
  .degree-card {
    flex-direction: column;
  }
  .degree-card-img {
    width: 150px;
    height: auto;
  }
  .degree-card-title {
    font-size: 18px;
  }
  .degree-card-subtitle {
    font-size: 16px;
  }
  .degree-header {
    flex-direction: column;
  }
  .degree-header-title {
    width: 100%;
  }
  .degree-header-duration {
    width: 100%;
  }
  .degree-content {
    padding: 0px;
  }
  .degree-content-list {
    font-size: 16px;
  }
}

.cert-card {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #d9dbdf;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d9dbdf;
  margin: 10px;
}

.cert-header {
  margin: 0px;
}

.cert_img {
  width: auto;
  height: 100px;
}

.cert-body {
  margin: 0px;
}

.cert-body-title {
  font-weight: 600;
  font-size: 20px;
  margin: 10px;
}

.cert-body-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
}
.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .cert-card {
    width: 100%;
  }
  .cert_img {
    height: 80px;
  }
  .cert-body {
    margin: 0px;
  }
  .cert-body-title {
    font-size: 18px;
  }
  .cert-body-subtitle {
    font-size: 16px;
  }
  .content {
    width: 100%;
  }
}
